<h1>Listing datafiles</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @datafiles.each do |datafile| %>
      <tr>
        <td><%= datafile.name %></td>
        <td><%= link_to 'Show', datafile %></td>
        <td><%= link_to 'Edit', edit_datafile_path(datafile) %></td>
        <td><%= link_to 'Destroy', datafile, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Datafile', new_datafile_path %>
